:root {
	--primary: #7bedab;
	--secondary: #403e3e;
	--light: #bfd7ea;
	--dark: #353831;

}
body {
    margin: 0;
    padding: 0;
    font-weight:500;
    background: var(--dark);
    color: var(--light);

}

h1,
h2,
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;

}

a {
    color: red;
}